header {
  background: #7e090d;
  width: 100%;
  height: 86px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0.90;
}
#logo {
  display: inline-block;
  margin: 15px; 
  float: left;
  height: 60px;
  width: auto; 
  border-radius: 50%; 
} 
nav { 
  float: right;
  padding: 35px 20px 20px 0;
}
nav ul li {
display: inline-block;
float: left;
padding: 10px;
}
a {
  color: #ffffff;
  text-decoration: underline;
  font-weight: bold;
  font-size: medium;
}
h1 {
  text-align: center;
  font size: 380%;
  line-height: 120%;
  padding: 5% 0;
}
h2 {
  text-decoration: underline;
  line-height: 280%;
  padding-left: 2%:
}
.content {
    text-align: left;
    font size: 180%;
    line-height: 120%;
    padding: 5% 0;
}
 body{
   background: #021806;
   font: 14px/20px Arial, San-Serif;
   color: #ffffff;
   margin: 0;
}
img {
  text-align: center;
  max-width: 100%;
  height: auto;
  width: auto;
}
.introduction {
  position: relative;
  text-align: center;
  color: white;
}
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}
.important {
  color: red;
}
section {
  width: 40%;
  float: left;
  margin: 2% 2%;
  text-align: center;
}
footer {
  background: #000000;
  width: 100%;
  overflow: hidden;
  opacity: 0.90;
}
footer p, footer h3 {
  color: #fff;
}
ul.social li {
  display: inline;
}
ul.social li img {
  height: 50px;
}
  footer.second {
    border-top: 1px solid #000000;
    background-color: #000000;
    max-height: 50px;
    text-align: center;
    opacity: 0.95;
}